body {
  background: transparent url(../imgs/bg.gif) no-repeat center center fixed;
  background-size: cover;
}

main {
  font-size: 18pt;
}

main nav {
  font-size: initial;
}

section {
  min-height: 65vh;
}

h1 {
  text-align: center;
  color: #217d4c;
}

h2 {
  text-align: center;
  color: #28353b
}

h3 {
  text-align: center;
  color: #479379;
}

h4 {
  text-align: center;
  color: #fff;
  background-color: #2e7d32;
  padding: 0.5rem;
  margin: 2rem 0 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-style: italic;
  border: #fff solid 1px;
  box-shadow: 0 0 10px #333;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
  margin: 0.25rem;
}

figure {
  text-align: center;
  margin: 0.5rem 5px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

pre {
  font-size: 10pt;
  border: 1px solid #000;
  background-color: #eee;
  padding: 3pt;
}

.pagination span {
  line-height: 2.5rem;
}

#num-page {
  width: 4rem;
  text-align: center;
}

.border-dark th, .border-dark td {
  border: #333 solid 1px;
}

@media print {
  body {
    background: initial;
    background-size: initial;
  }

  section {
    min-height: initial;
  }

  main {
    font-size: initial;
  }
}